@font-face {
  font-family: "TT backwards";
  src: url("tt_backwards_script-regular.otf") format("opentype");
}

@font-face {
  font-family: "Latino type";
  src: url("latinotype-basicsans-regular.otf") format("opentype");
}

body {
  font-family: "Latino type", Raleway, Tahoma,Verdana,Segoe,sans-serif;
  margin: auto;
  max-width: 42rem;
  min-width: 18rem;
  background-color: #DBF5D9;
  padding: 1em;
  font-size: 16pt;
}

.title {
  font-size: 3em;
  margin: 0;
}

.sub-title {
  font-family: "TT backwards", sans-serif;
}

.logo {
  margin: auto;
}

.entete {
  margin: auto;
  padding: 1em;
  text-align:center;
}

.main {
  background: rgb(255,255,255,0.5);
  padding: 1rem 2rem;
  text-align: justify;
}

.footer {
  padding: 1rem 2rem;
  background: rgb(255,255,255,0.5);
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

